
<!--<input value="Show Form" type="button" (click)="formHidden = false" />
<input value="Hide Form" type="button" (click)="formHidden = true" />
<form [ngClass]="{ 'hidden' : formHidden }">
  <fieldset><legend>Contact Form</legend></fieldset>

  <input value="Nombre" type="text" />
  <input value="Telefono" type="text" />

</form>
-->
<form (ngSubmit)="onSubmit(contactForm);" #contactForm="ngForm">
  <div>
  <input matInput placeholder="Nombre" type="text"  maxlength="80" [(ngModel)]="contacto.name" name="name" required>
</div>
<div>  
<input matInput placeholder="Email" type="email" [(ngModel)]="contacto.email" name="email" required>
</div>
<div>  
<input matInput placeholder="Teléfono requerido"  type="tel" [(ngModel)]="contacto.phone" name="Phone" maxlength="16">
</div>
<div> 
<input matInput placeholder="Asunto a tratar" maxlength="60" [(ngModel)]="contacto.subject" name="Subject" required>
</div>
<div>
   <textarea matInput placeholder="Mensaje a escribir"  maxlength="300" [(ngModel)]="contacto.msn" name="msn" cols="25"></textarea>
</div>
<div><button  [disabled]="!contactForm.form.valid" >Enviar</button>
</div>
</form>

<p>
  Mensaje {{contacto.msn}}
</p>

